<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Wood Street - Bring The Good Cart To Life.</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="- Bootstrap  " />
    <meta name="author" content="p-themes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/icons/site.html" />
    <link
      rel="mask-icon"
      href="assets/images/icons/safari-pinned-tab.svg"
      color="#666666"
    />
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="spy" />
    <meta name="application-name" content="spy" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/owl-carousel/owl.carousel.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="custom-assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="custom-assets/css/style.css">
    <link rel="stylesheet" href="custom-assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="custom-assets/css/custom.css">


  </head>
<style>
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  .nav-tabs .nav-item .nav-link {
    color: #191e43;
}
.btn-outline-primary, .btn-outline-primary.disabled {
    border-color: #CC9966;
    color: #CC9966;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.disabled:hover, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled:active {
    background-color: #CC9966 !important;
    color: #fff;
}
.custom-swal-popup .swal2-html-container {
    font-size: 17px;
}

</style>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="header-left">
              
            </div>

            <div class="header-right">
              <div class="header-dropdown">
                <a href="#"><i class="icon-user"></i>My Account</a>
                <div class="header-menu">
                  <ul>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/admin" class="logo">
                <img src="assets/images/logo.png" alt="Wood Street Logo" width="105" height="25">
            </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container">
                    <a href="/admin/">Home</a>
                  </li>
                  <li>
                    <a href="/admin/categorylist" class="sf-with-ul">Categories</a>
                    <ul>
                      <li><a href="/admin/categorylist">Category Lists</a></li>
                      <li><a href="/admin/addcategory">Add New Category</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/admin/productslist" class="sf-with-ul">Products</a>
                    <ul>
                      <li>
                        <a href="/admin/productslist">Product Lists</a>
                      </li>
                      <li>
                        <a href="/admin/addproduct">Add New Product</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="/admin/couponslist" class="sf-with-ul">Coupons</a>
                    <ul>
                      <li><a href="/admin/couponslist">Coupon Lists</a></li>
                      <li><a href="/admin/addcoupon">Add New Coupon</a></li>
                    </ul>
                  </li>
                 
                  <li><a href="/admin/userslist">Users</a></li>
                  <li class="megamenu-container active"><a href="/admin/orderslist">Orders</a></li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"
                  ><i class="icon-search"></i
                ></a>
                <form action="#" method="get">
                  <div class="header-search-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input
                      type="search"
                      class="form-control"
                      name="q"
                      id="q"
                      placeholder="Search in..."
                      required
                    />
                  </div>
                  
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </header>

      <main class="main">

          








          <div class=""style="padding: 3em 6em;">
            <div class="col-12 ">
              <div class="card">
                <div class="card-header">
                  <h4>ORDERS</h4>
                </div>
                <div class="card-body">
                  <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Recent Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">All Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="false">Retrun</a>
                    </li>
                  </ul>

                  <div class="tab-content tab-bordered" id="myTab3Content">
                    <div class="tab-pane fade active show" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                      <div class="row">
                        <div class="col-12">
                          
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>
                                    
                                    <th>Customer</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th>Total Amount</th>
                                    <th>Order Status</th>
                                    <th>Payment</th>
                                    <th>Action</th>
                                  </tr>

                                  <% if (orders.length > 0) { %>
                                    <% orders.forEach(order => { %>
                                      <% if (order.orderStatus =="Placed") { %>
                                       
                          
                                  <tr>
                               

                                   
                                    <td><%=order.customer %></td>
                                    <td class="text-truncate">
                                      <%=order.addresss.fullName %>
                                      <br>
                                        <%=order.addresss.number %>
                                       <br>
                                      <%=order.addresss.city %>,
                                      <%=order.addresss.state %>,
                                      <br>
                                      <%=order.addresss.pincode %>
                                     
                                    </td>
                                    <td class="align-middle">
                                      <%= new Date(order.createdAt).toLocaleString('en-US', { 
                                        weekday: 'short', 
                                        month: 'short', 
                                        day: 'numeric', 
                                        year: 'numeric', 
                           
                                    }) %>
                                    </td>

                                    <td> 
                                      ₹ <%=order.totalPrice %>

                                     
                                  </td>
                                    <td>
                                      
                                      <select class="form-select form-select-lg" name="orderStatus" id="orderStatus<%= order._id %>" onchange="updateOrderStatus('<%= order._id %>')">
                                      <option value="Placed" <%= order.orderStatus === 'Placed' ? 'selected' : '' %>>Placed</option>
                                      <option value="Processing" <%= order.orderStatus === 'Processing' ? 'selected' : '' %>>Processing</option>
                                      <option value="Shipped" <%= order.orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                      <option value="Delivered" <%= order.orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                    </select>
                                  </td>
                                    <td>
                                      <% if (order.paymentMethod =="COD") { %>
                                      <!-- <div class="badge bg-secondary">COD</div> -->
                                       <p>COD</p>
                                      <% }else if(order.paymentMethod =="online"){ %>
                                       <p>ONLINE</p>
                                      <% }else{ %>
                                        <p>COD</p>
                                        <% } %>

                                    </td>
                                    <td><a href="/admin/orderview?id=<%= order._id %>" class="btn btn-outline-primary">Detail</a></td>
                                  </tr>
                                  <% } %>
                                  <% }) %>
                                  <% } %>
                                  
                                </tbody></table>
                              
                        </div>
                      </div>


                    </div>
                    <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                      <div class="row">
                        <div class="col-12">
                          
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>
                                    
                                    <th>Customer</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th>Total Amount</th>
                                    <th>Order Status</th>
                                    <th>Payment</th>
                                    <th>Action</th>
                                  </tr>

                                  <% if (orders.length > 0) { %>
                                    <% orders.forEach(order => { %>
                                       
                          
                                  <tr>
                               

                                   
                                    <td><%=order.customer %></td>
                                    <td class="text-truncate">
                                      <%=order.addresss.fullName %>
                                      <br>
                                        <%=order.addresss.number %>
                                       <br>
                                      <%=order.addresss.city %>,
                                      <%=order.addresss.state %>,
                                      <br>
                                      <%=order.addresss.pincode %>
                                     
                                    </td>
                                    <td class="align-middle">
                                      <%= new Date(order.createdAt).toLocaleString('en-US', { 
                                        weekday: 'short', 
                                        month: 'short', 
                                        day: 'numeric', 
                                        year: 'numeric', 
                           
                                    }) %>
                                    </td>

                                    <td> 
                                      <% if (order.orderStatus=="Returned" || order.orderStatus=="Cancelled") { %>
                                       
                                        <p style="text-decoration: line-through;">₹ <%=order.totalPrice %></p>
                                      <% }else{ %>
                                        <p >₹ <%=order.totalPrice %></p>
                                        
                                        <% } %>


                                  </td>
                                  <td>
                                    <% if (order.orderStatus=="Delivered" || order.orderStatus=="Returned" || order.orderStatus=="Cancelled") { %>
                                      <% if (order.orderStatus=="Delivered" ) { %>
                                        <p style="color: green;"><%=order.orderStatus %></p>
                                      <% }else{ %>
                                        <p style="color: rgba(145, 14, 14, 0.756);text-decoration: line-through;"><%=order.orderStatus %></p>
                                        <% } %>
                                    <% }else{ %>

                                      <select class="form-select form-select-lg" name="orderStatus" id="orderStatus<%= order._id %>" onchange="updateOrderStatus('<%= order._id %>')">
                                        <option value="Placed" <%= order.orderStatus === 'Placed' ? 'selected' : '' %>>Placed</option>
                                        <option value="Processing" <%= order.orderStatus === 'Processing' ? 'selected' : '' %>>Processing</option>
                                        <option value="Shipped" <%= order.orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                        <option value="Delivered" <%= order.orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                      </select>
                                      <% } %>
                                   
                                </td>
                                    <td>
                                      <% if (order.paymentMethod =="COD") { %>
                                      <!-- <div class="badge bg-secondary">COD</div> -->
                                       <p>COD</p>
                                      <% }else if(order.paymentMethod =="online"){ %>
                                       <p>ONLINE</p>
                                      <% }else{ %>
                                        <p>COD</p>
                                        <% } %>

                                    </td>
                                    <td><a href="/admin/orderview?id=<%= order._id %>" class="btn btn-outline-primary">Detail</a></td>
                                  </tr>
                                  <% }) %>
                                  <% } %>
                                  
                                </tbody>
                              </table>
                              
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                     
                      <div class="row">
                        <div class="col-12">
                          
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>
                                    
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Reason</th>
                                    <th>Refundable Amount</th>
                                    <th>Action</th>
                                  </tr>

                                  <% if (returnProducts.length > 0) { %>
                                    <% returnProducts.forEach(product => { %>  
                                      <% product.items.forEach(item => { %>
                                        <% if (item.orderStatus == "Return-Pending"|| item.orderStatus == "Return-Rejected" || item.orderStatus == "Returned") { %>
                                          <tr>
                                            <td><%= product.customer %></td>
                                            <td class="align-middle">
                                              <%= new Date(product.createdAt).toLocaleString('en-US', { 
                                                weekday: 'short', 
                                                month: 'short', 
                                                day: 'numeric', 
                                                year: 'numeric' 
                                              }) %>
                                            </td>
                                            <td class="text-truncate">
                                              <%= item.productId %>         
                                            </td>
                                            <td>
                                              <%= item.quantity %>         
                                            </td>
                                            <td>
                                              <%= item.returnReason %>         
                                            </td>
                                            
                                            <td>
                                              ₹ <%= item.productPrice * item.quantity %>         
                                            </td>
                                            <td>
                                              <% if (item.orderStatus =="Returned") { %>
                                                <div class="badge bg-danger"
                                                style="cursor: pointer;">
                                             Approved
                                           </div>
                                              <% }else if(item.orderStatus =="Return-Rejected"){ %>
                                                <div class="badge bg-warning"
                                                style="cursor: pointer;">
                                             Rejected
                                           </div>
                                              
                                              <% }else{ %>
                                                <div class="badge badge-success" 
                                                   onclick="handleApproveReturn('<%= product._id %>','<%= item.productId %>')" 
                                                   style="cursor: pointer;"
                                                   id="approved<%=item.productId %>"
                                                   >
                                                Approve
                                              </div>

                                              <% } %>

                                            </td>
                                          </tr>
                                        <% } %>
                                      <% }); %>
                                    <% }) %>
                                  <% } %>

                                </tbody>
                              </table>
                              
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

























          <div class="table-responsive" id="no-more-tables">
           
          </div>
      </main>

      <!-- <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                 
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  

                  <ul class="widget-list">
                    <li><a href="about.html">About </a></li>
                    <li><a href="#">How to shop on </a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="login.html">Log in</a></li>
                  </ul>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="cart.html">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                  
                </div>
                
              </div>
              
            </div>
            
          </div>
          
        </div>
        

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Wood Street Store. All Rights Reserved.
            </p>
            
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            
          </div>
          
        </div>
        
      </footer> -->
    </div>
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="mobile-search"
            id="mobile-search"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/admin/">Home</a>
            </li>
            <li>
              <a href="">Categories</a>
              <ul>
                <li><a href="/admin/categorylist">Category Lists</a></li>
                <li><a href="/admin/addcategory">Add New Category</a></li>
              </ul>
            </li>
            <li>
              <a href="" class="sf-with-ul">Products</a>
              <ul>
                <li><a href="/admin/productslist">Product Lists</a></li>
                <li><a href="/admin/addproduct">Add New Product</a></li>
              </ul>
            </li>
           
            <li>
              <a href="/admin/userslist">Users</a>
            </li>
            <li>
              <a href="/admin/orderslist">Orders</a>
            </li>
          </ul>
        </nav>

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </div>

    <script>
     
      
      function updateOrderStatus(orderId) {
  const selectElement = document.getElementById('orderStatus' + orderId);
  const selectedStatus = selectElement.value;

  
  fetch('/admin/updateOrderStatus', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ orderId, orderStatus: selectedStatus })
  })
  .then(response => response.json())
  .then(data => {
    if (data.orderstatus) {
      document.getElementById('orderMainStatus'+orderId).textContent = selectedStatus

    } else {
      console.error('Failed to update order status');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}






function handleApproveReturn(orderId, productId) {

  Swal.fire({
  text: "Do you want to approve this?",
  icon: "warning",
  customClass: {
    popup: 'custom-swal-popup'
  },
  showCancelButton: true,
  confirmButtonText: 'Approve',
  confirmButtonColor: '#54CA68',
  cancelButtonText: 'Reject',
  cancelButtonColor: '#d33'
}).then((result) => {
  if (result.isConfirmed) {

    fetch('/admin/approvereturnproduct', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId, productId }) 
            })
            .then(response => response.json()) 
            .then(data => {
               
              if(data.success){
                let approvedElement = document.getElementById('approved'+productId);
                approvedElement.textContent = "Approved";
                approvedElement.classList.add('badge', 'bg-danger');

              }

              })
            .catch(error => {
                console.error('Error:', error);

              });

  } else if (result.dismiss === Swal.DismissReason.cancel) {


    fetch('/admin/rejectreturnproduct', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId, productId }) 
            })
            .then(response => response.json()) 
            .then(data => {
               
              if(data.rejectsuccess){
                let approvedElement = document.getElementById('approved'+productId);
                approvedElement.textContent = "Rejected";
                approvedElement.classList.add('badge', 'bg-warning');

              }

              })
            .catch(error => {
                console.error('Error:', error);

              });


  }
});

}



    </script>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>
      <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>
  
    
  </body>

</html>
