<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Wood Street - Bring The Good Cart To Life.</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="- Bootstrap  " />
    <meta name="author" content="p-themes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/icons/site.html" />
    <link
      rel="mask-icon"
      href="assets/images/icons/safari-pinned-tab.svg"
      color="#666666"
    />
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="spy" />
    <meta name="application-name" content="spy" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/owl-carousel/owl.carousel.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.css" rel="stylesheet"/>
  <style>
    table {
        border-collapse: collapse;
    }
    td, th {
        border: .5px solid rgb(145, 143, 143);
        padding: 10px;
    }
  </style>
  <style>      
    .dataTables_wrapper .sorting:after,
    .dataTables_wrapper .sorting_asc:after,
    .dataTables_wrapper .sorting_desc:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      display: inline-block;
      margin-left: 5px;
      content: "\f0dc";
    }
  .dataTables_wrapper .sorting_asc:after {
    content: "\f0de";
  }
  .dataTables_wrapper .sorting_desc:after {
    content: "\f0dd";
  }
</style>

  </head>

  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="header-left">
              
            </div>

            <div class="header-right">
              <div class="header-dropdown">
                <a href="#"><i class="icon-user"></i>My Account</a>
                <div class="header-menu">
                  <ul>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/admin/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/admin" class="logo">
                <img src="assets/images/logo.png" alt="Wood Street Logo" width="105" height="25">
            </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container">
                    <a href="/admin/">Home</a>
                  </li>
                  <li>
                    <a href="/admin/categorylist" class="sf-with-ul">Categories</a>
                    <ul>
                      <li><a href="/admin/categorylist">Category Lists</a></li>
                      <li><a href="/admin/addcategory">Add New Category</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/admin/productslist" class="sf-with-ul">Products</a>
                    <ul>
                      <li>
                        <a href="/admin/productslist">Product Lists</a>
                      </li>
                      <li>
                        <a href="/admin/addproduct">Add New Product</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="/admin/couponslist" class="sf-with-ul">Coupons</a>
                    <ul>
                      <li><a href="/admin/couponslist">Coupon Lists</a></li>
                      <li><a href="/admin/addcoupon">Add New Coupon</a></li>
                    </ul>
                  </li>
                 
                  <li><a href="/admin/userslist">Users</a></li>
                  <li class="megamenu-container active"><a href="/admin/orderslist">Orders</a></li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"
                  ><i class="icon-search"></i
                ></a>
                <form action="#" method="get">
                  <div class="header-search-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input
                      type="search"
                      class="form-control"
                      name="q"
                      id="q"
                      placeholder="Search in..."
                      required
                    />
                  </div>
                  
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </header>

      <main class="main">
        <div class="container">
          <div class="table-responsive" id="no-more-tables">
            <table class="table table-striped bg-white" id="myTable">
              <thead class="bg-dark text-light">
                <tr>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Date</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Order Id</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Customer</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Address</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Total Amount</th>
                  <th style="font-size: 20px; text-align: center; padding-inline: 30px;" scope="col" class="sorting">Order Status</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Payment</th>
                  <th style="font-size: 20px; text-align: center;" scope="col" class="sorting">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (orders.length > 0) { %>
                  <% orders.forEach(order => { %>
                    <tr style="font-size: medium; text-align: center;">
                      <td data-title="Date">
                        <%= new Date(order.orderDetails.createdAt).toLocaleString('en-US', { 
                            weekday: 'short', 
                            month: 'short', 
                            day: 'numeric', 
                            year: 'numeric', 
                            hour: '2-digit', 
                            minute: '2-digit' 
                        }) %>
                    </td>                      <td data-title="OrderId"><%= order.orderDetails._id %></td>
                      <td data-title="Customer"><%= order.name %></td>

=                          <td data-title="Address">
                            <%= order.orderDetails.addresss.fullName %>
                            <br>
                            <%= order.orderDetails.addresss.number %>
                            <br>
                            <%= order.orderDetails.addresss.house %>
                            <br>
                            <%= order.orderDetails.addresss.pincode %>
                          </td>
                      
                      

                     
                        <% if (order.orderDetails.totalPrice!==0 ) { %>
                          <% if (order.orderDetails.orderStatus!=="Delivered" && order.orderDetails.orderStatus!=="Returned" ) { %>
                          <td data-title="TotalPrice">₹ <%= order.orderDetails.totalPrice %></td>
                          <td data-title="OrderStatuss">
                          <p id="orderMainStatus<%= order.orderDetails._id %>"><%= order.orderDetails.orderStatus %></p>
                          <select class="form-select form-select-lg" name="orderStatus" id="orderStatus<%= order.orderDetails._id %>" onchange="updateOrderStatus('<%= order.orderDetails._id %>')">
                            <option value=""></option>
                            <option value="Pending" <%= order.orderDetails.orderStatus === 'Pending' ? 'selected' : '' %>>Pending</option>
                            <option value="Processing" <%= order.orderDetails.orderStatus === 'Processing' ? 'selected' : '' %>>Processing</option>
                            <option value="Shipped" <%= order.orderDetails.orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                            <option value="Delivered" <%= order.orderDetails.orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                          </select>
                          <% }else{ %>
                            <td data-title="TotalPrice" >₹ <%= order.orderDetails.totalPrice %></td>
                            <td data-title="OrderStatuss">
                            <p >Delivered</p>
                          
                            <% } %>
                        <% } else if(order.orderDetails.orderStatus== "Returned"){ %>
       <td data-title="TotalPrice" style="color: rgba(150, 25, 112, 0.899);text-decoration: line-through;">₹ <%= order.orderDetails.totalPrice %></td>

                            <td data-title="OrderStatuss">
                            <p style="color: rgba(150, 25, 112, 0.899)">Returned</p>
                            <%}else{ %>
                          <td data-title="TotalPrice" style="color: red;text-decoration: line-through;">₹ <%= order.orderDetails.totalPrice %></td>
                          <td data-title="OrderStatuss">
                          <p style="color: red;">Cancelled</p>
                        <% } %>
                        
                      </td>
                      <td data-title="Payment"><%= order.orderDetails.paymentMethod %></td>
                      <td data-title="ViewOrders"><a href="/admin/orderview?id=<%= order.orderDetails._id %>">View Details</a></td>
                    </tr>
                  <% }) %>
                <% } else { %>
                  <tr>
                    <td colspan="8" style="text-align: center;">Orders Not Found</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </main>

      <!-- <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                 
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  

                  <ul class="widget-list">
                    <li><a href="about.html">About </a></li>
                    <li><a href="#">How to shop on </a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="login.html">Log in</a></li>
                  </ul>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  
                </div>
                
              </div>
              

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="cart.html">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                  
                </div>
                
              </div>
              
            </div>
            
          </div>
          
        </div>
        

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Wood Street Store. All Rights Reserved.
            </p>
            
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            
          </div>
          
        </div>
        
      </footer> -->
    </div>
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="mobile-search"
            id="mobile-search"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/admin/">Home</a>
            </li>
            <li>
              <a href="">Categories</a>
              <ul>
                <li><a href="/admin/categorylist">Category Lists</a></li>
                <li><a href="/admin/addcategory">Add New Category</a></li>
              </ul>
            </li>
            <li>
              <a href="" class="sf-with-ul">Products</a>
              <ul>
                <li><a href="/admin/productslist">Product Lists</a></li>
                <li><a href="/admin/addproduct">Add New Product</a></li>
              </ul>
            </li>
           
            <li>
              <a href="/admin/userslist">Users</a>
            </li>
            <li>
              <a href="/admin/orderslist">Orders</a>
            </li>
          </ul>
        </nav>

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </div>

    <script>
          $(document).ready(function () {
        $("#myTable").DataTable();
      });
      
      function updateOrderStatus(orderId) {
  const selectElement = document.getElementById('orderStatus' + orderId);
  const selectedStatus = selectElement.value;
  console.log(selectedStatus);

  fetch('/admin/updateOrderStatus', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ orderId, orderStatus: selectedStatus })
  })
  .then(response => response.json())
  .then(data => {
    if (data.orderstatus) {
      document.getElementById('orderMainStatus'+orderId).textContent = selectedStatus

    } else {
      console.error('Failed to update order status');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}


    </script>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>
  
    
  </body>

</html>
