
<%- include('../layouts/user/header') -%>
<style>
    .price-col{
        font-size: 14px!important;
    }
    .product-title{
        font-size: 14px!important;

    }
    .table .remove-col .btn-remove {
    margin-right: 2.3rem!important;
}
</style>

    <div class="page-wrapper">
       
    <header class="header">

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/" class="logo">
                        <img src="assets/images/logo.png" alt="Wood Street Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/" class="sf-with">Home</a>

                            </li>
                            <li>
                                <a href="/shop" class="sf-with">Shop</a>

                        
                            </li>
                            <li>
                                <a href="/about" class="sf-with">About</a>
                            </li>
                            <li>
                                <a href="/contactus" class="sf-with">Contact Us</a>

                                
                            </li>
                            <li>
                                <a href="/blog" class="sf-with">Blog</a>

                                
                            </li>
                            
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    <a href="/wishlist" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                            <span class="wishlist-count">3</span>
                    </a>

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <% if (typeof cartCount !== 'undefined') { %>
                                <span class="cart-count" id="cartcount"><%= cartCount %></span>
                            <% } else { %>
                                <span class="cart-count" id="cartcount">0</span>
                            <% } %>
                

                     
                        </a> 
                        
                    </div>
                    <a href="/user" class="wishlist-link">
                     <i class="icon-user"></i>
                    </a>
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div>
        </div>
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ordered items</li>
                </ol>
            </div>
        </nav>
    
        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <h4 class="mt-2 mb-2">Ordered items</h4>

                    <% if (typeof orders !== "undefined") { %>

                        <% if (orders && orders.length > 0) { %>
                            <% for (let i = orders.length - 1; i >= 0; i--) { %>
                                <div class="row">
                                    <div class="col-md-8 col-lg-9">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" style="padding-right: 36px;" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                                <table class="table table-cart table-mobile">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th>Expected Date</th>
                                                            <th>Status</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (let j = 0; j < orders[i].items.length; j++) { %>
                                                            <tr>
                                                                <td class="product-col">
                                                                    <div class="product">
                                                                        <figure class="product-media">
                                                                            <a href="/quickview?id=<%= orders[i].items[j].productId%>&orderId=<%= orders[i]._id%>">
                                                                                <img src="<%= orders[i].items[j].images[0] %>" alt="Product image">
                                                                            </a>
                                                                        </figure>
                                                                        <h3 class="product-title">
                                                                            <a href="#"><%= orders[i].items[j].productName %></a>
                                                                        </h3>
                                                                    </div>
                                                                </td>
                                                                <input type="hidden" name="" id="order_id" value="<%=orders[i]._id %>">
                                                                <input type="hidden" name="" id="product_Id" value="<%=orders[i].items[j].productId %>">

                                                                <td class="price-col" >₹<%= orders[i].items[j].productPrice * orders[i].items[j].quantity%></td>
                                                                <td class="quantity-col"><%= orders[i].items[j].quantity %></td>
                                                                <td class="date-col"><%= moment(orders[i].expectedDeliveryDate).format('ddd MMM DD YYYY') %></td>
                                                                <% if (orders[i].items[j].orderStatus === "Returned") { %>
                                                                    <td class="status-col" style="color: rgba(136, 112, 4, 0.705);"><%= orders[i].items[j].orderStatus %></td>
                                                                <% } else if (orders[i].items[j].orderStatus === "Cancelled") { %>
                                                                    <td class="status-col" style="color: red;text-decoration: line-through;"><%= orders[i].items[j].orderStatus %></td>
                                                                <% } else { %>
                                                                    <td class="status-col"><%= orders[i].items[j].orderStatus %></td>
                                                                <% } %>
                                                                <% if (orders[i].items[j].orderStatus !== "Cancelled" && orders[i].items[j].orderStatus !== "Delivered" && orders[i].items[j].orderStatus !== "Returned" && orders[i].items[j].orderStatus !== "Return-Pending" ) { %>
                                                                    <td class="remove-col">
                                                                        <button class="btn-remove" onclick="confirmCancelOrder('<%= orders[i].items[j]._id %>', '<%= orders[i].items[j].productPrice * orders[i].items[j].quantity %>','<%= orders[i].totalPrice %>','<%= orders[i].applyedDiscount +  orders[i].totalPrice %>','<%= orders[i]._id %>','<%= orders[i].items[j].quantity %>','<%= orders[i].items[j].productId %>','<%= orders[i].items[j].productName %>')"><i class="icon-close"></i></button>

                                                                    </td>
                                                                <% } %>
                                                                <% if (orders[i].items[j].orderStatus === "Delivered") { %>
                                                                    <% 
                                                                        const currentDate = new Date();
                                                                        const expectedDate = new Date(orders[i].expectedDeliveryDate);
                                                                        const threeDaysBeforeExpected = new Date(expectedDate);
                                                                        threeDaysBeforeExpected.setDate(expectedDate.getDate() - 3); 
                                                                        
                                                                        if (currentDate <= threeDaysBeforeExpected) { 
                                                                    %>
                                                                        <td class="remove-col">
                                                                            <button class="btn-remove" title="Return Order" onclick="handleReturnProduct()">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                                    <path d="M48.5 224L40 224c-13.3 0-24-10.7-24-24L16 72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8L48.5 224z"/>
                                                                                </svg>
                                                                            </button>
                                                                        </td>  
                                                                    <% } %>
                                                                <% } %>


                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="" id="discount" value="<%= discount  %>">
                                    <input type="hidden" name="" id="minimumPur" value="<%= minimumPur %>">
                                    <input type="hidden" name="" id="isreffrealApplied" value="<%= isrefferealApplied %>">
                                    <div class="col-md-3 col-lg-3 p-5" style="background-color: #cc996600;margin-bottom: 22px;height: 33em;box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.045);">
                                        <h6 class="mt-3 mb-2" >ORDER SUMMARY</h6>
                                        <div class="order-summary-append mb-2">
                                            <h6>OrderId :<%= orders[i]._id %></h6>
                                            <p>Date: <%= new Date(orders[i].createdAt).toDateString() %></p>
                                            <p>Deliverying to : <%= orders[i].addresss.fullName%></p>
                                            <p>Delivary on : <%= moment(orders[i].expectedDeliveryDate).format('ddd MMM DD YYYY')  %></p>
                                            <p>Phone : <%= orders[i].addresss.number%></p>
                                            <p>Place : <%= orders[i].addresss.city%>,<%= orders[i].addresss.state%>,<%= orders[i].addresss.pincode%></p>
                                            <p>Ordered At : <%= new Date(orders[i].createdAt).toDateString() %></p>
                                            <p style="font-weight: 300;">Shipping Fee: ₹<%= orders[i].shippingCharge%></p>
                                            <p style="font-weight: 300;">Subtotal: ₹<%= orders[i].applyedDiscount +  orders[i].totalPrice %></p>
                                            <p style="font-weight: 410;">Coupon discount: ₹<%= orders[i].applyedDiscount %></p>
                                            <p style="color: chocolate;font-weight: 500;">Total: ₹<%= orders[i].totalPrice %></p>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-cart table-mobile">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="7"><p>Orders not found</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-cart table-mobile">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><p>Order is empty</p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Wood Street</a></li>
	            					<li><a href="#">How to shop on Wood Street</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Wood Street Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active"  id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    
<script>
    function handleAlert() {
  return Swal.fire({
    title: "Are you sure?",
    text: "To cancel your order!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#CC9966",
    cancelButtonColor: "#969696",
    confirmButtonText: "Yes, Cancel it!"
  }).then((result) => {
    return result.isConfirmed;
  });
}

function handleCancelCoupon() {
  return Swal.fire({
    title: "Are you sure?",
    text: "The coupon you have applied will not match the minimum purchase requirement therefore it will be removed!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#CC9966",
    cancelButtonColor: "#969696",
    confirmButtonText: "Yes, Cancel it!"
  }).then((result) => {
    return result.isConfirmed;
  });
}

function confirmCancelOrder(productId, productPrice, totalPrice,subTotal,orderId,quantity,originalProductId,productName) {
  
    let discount ;
    let minimumPur;
    const isrefferealApplied =document.getElementById('isreffrealApplied').value
    
    
    if(isrefferealApplied == "1"){        
        discount = 200
        minimumPur=200


    }else{

        const discountElement = document.getElementById('discount');
  const minimumPurElement = document.getElementById('minimumPur');

  console.log(quantity);


  discount = discountElement.value;
  minimumPur = minimumPurElement.value;


    }
  
  const discountAmount = parseInt(discount, 10);
  const minimumPurAmount = parseInt(minimumPur, 10);
  const totalPriceAmount = parseInt(totalPrice, 10);
  const productPriceAmount = parseInt(productPrice, 10);

  const newTotal = subTotal- productPriceAmount;
  console.log('New Total:', newTotal);
  

  if (minimumPurAmount <= newTotal) {

    let clearCoupon =0
    if (isrefferealApplied=="1") {
     clearCoupon =1  
    }

    handleAlert().then((confirmed) => {
      if (confirmed) {
        handlecancelOrder(productId, productPrice,clearCoupon,orderId,quantity,originalProductId,productName);
        console.log(quantity);

      }
    });
  } else {
    const clearCoupon =1

    handleCancelCoupon().then((confirmed) => {
      if (confirmed) {
        handlecancelOrder(productId, productPrice,clearCoupon,orderId,quantity,originalProductId,productName);
        console.log(quantity);

      }
    });
  }
}


    
    
    function handlecancelOrder(productId,productPrice,clearCoupon,orderId,quantity,originalProductId,productName) {
        console.log(productPrice);
        console.log(quantity+"sucess");
        
      fetch('/cancelorder', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId,productPrice,clearCoupon,orderId,quantity,originalProductId,productName})
      })
      .then(response => {

            
if (response.redirected) {

    window.location.href = response.url;
}else{
    return response.json()
}
})      .then(data => {
        console.log(data);
        if (data.offline) {
          Swal.fire({
            title: "Cancelled!",
            text: "Your order has been cancelled.",
            icon: "success"
          }).then((result)=>{
            if (result.isConfirmed) {
        window.location.reload();
            }
          })
    
        } else if(data.online){
            Swal.fire({
    title: "Cancelled!",
    text: "Your order has been cancelled. The amount will be refunded to your wallet shortly.",
    icon: "success",
    confirmButtonText: "OK"
}).then((result) => {
    if (result.isConfirmed) {
        window.location.reload();
    }
});
        } else {
          Swal.fire({
    title: "Error!",
    text: "Failed to cancel the order.",
    icon: "error",
    confirmButtonText: "OK"
}).then((result) => {
    if (result.isConfirmed) {
        window.location.reload();
    }
});

          
        }
    
        // window.location.reload();
      })
      .catch(error => {
        console.error('Error:', error);
        Swal.fire({
          title: "Error!",
          text: "An unexpected error occurred.",
          icon: "error"
        });
      });
    }
    </script>


<script>
        function handleReturnProduct() {
        const orderId = document.getElementById('order_id').value
        const productId = document.getElementById('product_Id').value
            
        Swal.fire({
    title: "Are You Sure",
    icon: "warning",
    showCancelButton: true, 
    confirmButtonText: 'Yes, Return this product',
    cancelButtonText: 'No'
}).then((result) => {

    if (result.isConfirmed) {
        fetch('/returnproduct',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({orderId,productId})
        })
        .then(response => {

            
if (response.redirected) {

    window.location.href = response.url;
}else{
    return response.json()
}
})        .then(data=>{
            if(data.success){

                Swal.fire({
    title: "The prodcut amount will be credited to your wallet within 3 working days",
    icon: "success",
    confirmButtonText: 'Okey',
}).then((result) => {

    if (result.isConfirmed) {
        window.location.href ="/orderedlist?id="+ orderId

    }
})

            }
        })
    
    }
});

        
        


        
        

        }
</script>


    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <%- include('../layouts/user/footer') -%>
